/*font-family: 'Pathway Gothic One', sans-serif;*/
* {
    /*m0+p0+bszbb*/
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
.wrapper {
    background-image: url(../jpg/page-bg.jpg);
    background-color: #0000ff;
    /*bgrnr */
    background-repeat: no-repeat;
    /*bgp*/
    background-position: center;
    /*bgsc*/
    -webkit-background-size: cover;
    background-size: cover;
    padding: 100px 0;
}
.container {
    background-color: #fff;
    width: 480px;
    margin: auto;
    padding: 60px 37px 44px;
    font-family: Arial, sans-serif;

}
body {
    counter-reset: titlecount list-itemcount;
}

.title {
    display: inline-block;
    width: 90%;
    font-family: 'Pathway Gothic One', sans-serif;
    /*ttu*/
    text-transform: uppercase;
    /*fsz*/
    font-size: 25px;
    color: #263555;
    /*mb27*/
    margin-bottom: 27px;
}


.plane {
    display: block;
    margin: 0 auto 27px;
}

.sub-title {
    display: inline-block;
    width: 90%;
    color: #263555;
    font-size: 14px;
    margin-bottom: 22px;
}

.text {
    color: #4e5050;
    font-size: 12px;
}

.article {
    counter-increment: titlecount;
    margin-bottom: 51px;
}
.article::before {
    content: counter(titlecount, upper-roman);

    display: inline-block;

    width: 29px;

    height: 29px;

    text-decoration-color: #263555;

    text-align: center;

    line-height: 29px;
}

.list-item {
    counter-increment: list-itemcount;
    margin-bottom: 25px;
}
.list-item::before {
    content: counter(list-itemcount);

    display: inline-block;

    width: 20px;

    height: 20px;

    border-radius: 50%;
    background: radial-gradient(#55ddff, #0081b5);

    text-align: center;

    line-height: 20px;
}

.list-item:last-child {
    margin-bottom: 0px;
}

.article-border {
    border-bottom: 1px solid #000;
    padding-bottom: 52px;
}

.text-offer {
    margin-bottom: 37px;
}

.offer-item {
    color: #263555;
    font-size: 14px;

}

.offer-list {
    display: inline-block;
    vertical-align: top;
}

.offer-list:last-child {
    margin-left: 50px;
}

.offer-item {
    margin-bottom: 18px;
}
.offer-item:last-child {
    margin-bottom: 0px;
}