:root {
    --zettamenu: red;
    --simple: blue;
    --dropright: #dba36a;
    --dropleft: #65afff;
    --multidrop: yellow;
    --test: 20px;
    --var: auto;
    --mainColor: #fff;
    --font: Arial, sans-serif;
}